<html>
    <body>
        <h1 style = 'color: green'>
        Estamos viendo mi primera plantilla
        </h1>
    </body>
    <p>El nombre del creador es: {{nombre_persona}} {{apellido_persona}}</p>
    <p>Esta pagina se creo el d&iacute;a: {{date.day}} / {{date.month}} / {{date.year}}</p>
    <p><strong>Temas por aprender:</strong></p>
    <p>
        <ul>
        {% if themes %}
            {% for j in themes%}
                <li>{{j}}</li>
            {% endfor %}
        {% else %}
        <p><strong>No hay elementos que mostrar</strong></p>
        {% endif %}
        </ul>
    </p>
</html>